<h1>Menu</h1></br>
<%= button_to "Lista de Usuarios", usuarios_path, :method => :get, :class => 'btn btn-large'  %>
<%= button_to "Lista de Clientes (Fisicas)", p_fisicas_path, :method => :get, :class => 'btn btn-large'  %>
<%= button_to "Lista de Clientes (Morales)", p_morales_path, :method => :get, :class => 'btn btn-large'  %>
